language: cpp
compiler: gcc
dist: xenial

before_install:
  # C++17
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install: 
  # C++17
  - sudo apt-get install -qq g++-8
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 90

script: 
  - mkdir build
  - cd build
  - cmake ..
  - make -j$(nproc)
  - curl https://raw.githubusercontent.com/jupyter/notebook/master/docs/source/examples/Notebook/Running%20Code.ipynb > ref.ipynb
  - cat ref.ipynb | ./cppnbstripout > test1.ipynb
  - (! diff ref.ipynb test1.ipynb > /dev/null)
  - ./cppnbstripout ref.ipynb > test2.ipynb
  - (! diff ref.ipynb test2.ipynb > /dev/null)
  - diff test1.ipynb test2.ipynb > /dev/null
